body {
    font-family: "Lato", sans-serif;
    margin: 0;
  }
 
  .topnav {
    overflow: hidden;
    background-color: #18104B;
  }
 
  .topnav a {
    float: left;
    display: block;
    color: #818181;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
   
  }
 
  .topnav a:hover {
    background-color: #140f3c;
    color: #f1f1f1;
  }
 
  .topnav .icon {
    display: none;
    float: right;
  }
 
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #18104B;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
 
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
 
  .sidenav a:hover {
    color: #f1f1f1;
  }
 
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
 
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
 
  /* On smaller screens, hide the top navigation bar and show the sidebar */
  @media screen and (max-width: 600px) {
    .topnav a:not(.icon) {
      display: none;
    }
 
    .topnav a.icon {
      display: block;
    }
 
    .topnav div.dropdown:not(.icon){
      display: none;
    }
    .topnav div.dropdown.icon {
      display: block;
    }
 
    .sidenav {
      padding-top: 15px;
    }
 
    #main {
      margin-left: 0;
    }
 
    .sidenav.open {
      width: 250px;
    }
 
    .sidenav.open .topnav a {
      display: block;
      float: none;
      text-align: left;
    }
    .sidenav.open .topnav div.dropdown.dropbtn{
      display: block;
      float: none;
      text-align: left;
      width: fit-content;
    }
  }
  .side-dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
 
  .sidenav div.dropdown {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
 
  .sidenav div.dropdown:hover {
    color: #f1f1f1;
  }




  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
 
  /* Dropdown Button */
  /* Navbar container */
 
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
 
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
    text-align: center;
  }
 
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
 
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: relative;
    background-color: #000000;
    /* width: 100%; */
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
 
  /* Mega Menu header, if needed */
  /* .dropdown-content .header {
    background: red;
    padding: 16px;
    color: white;
  } */
 
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: contents;
  }
 
  /* Create three equal columns that floats next to each other */
  .column {
    float: middle;
    padding: 10px;
    background-color: #ccc;
    /* height: 250px; */
  }
  .column-side {
    float: left;
    padding: 10px;
    background-color: #ccc;
    /* height: 250px; */
  }
 
  /* Style links inside the columns */
  .column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
 
  /* Add a background color on hover */
  .column a:hover {
    background-color: #ddd;
  }
 
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
 
  .bottom-bar{
    position: absolute;
    bottom: 50px;
    padding:1%;
    border-top: 2px solid black;
    border-right: 2px solid black ;
  }
  .menu{
    height: 75px;
    width: 150px;
  }
 
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }


  /*Contact us page */
 
  .PageHead {
    overflow: hidden;
    background-color: #18104B;
  }
 
  .PageHead {
    float: left;
    display: block;
    color: #818181;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }


  .Pagetitle {
    text-align: center;
  }
